@import url(https://fonts.googleapis.com/css?family=Audiowide);

body
{
	background-color:#EDC37B;
	font-family: Arial;
	font-size: 1em;
}

nav
{
	text-align:center;
	padding: 10px;
}

nav ul li
{
	display: inline-block;
	margin: 0 auto;
}

nav ul li a
{
	text-decoration: none;
}

nav ul li a:before
{ content: "[ "; }
nav ul li a:after
{ content: " ]"; }


header
{
	text-align: center; 
}

header img
{
#	width:370px;
#	height:170px;
	margin-bottom: 10px;
	-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
#	border: solid 1px #bfbfbf;
}

header h1 
{
	font-size: 2em;
	font-family: 'Audiowide', cursive;
}

#loginform
{
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px; 
	right: 0px;
	background-color: rgba(89, 89, 83, 0.4);
}

#loginform fieldset
{
	display: block;
	width: 250px;
	height: 250px;
	background-color: #ffffee;

	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -125px;
	margin-left: -140px;
	
}

#loginform legend
{
	display: block;
	background-color: #F3E1D2;
	padding: 8px; 
	text-align: center;
	margin: 10px;
}


.circle
{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -250px;
	margin-top: -250px;
}

.outercircle
{
	font-size:500px;
}

.innercircle
{
	color: #ffffee;
	font-size: 480px;
	margin-left: -242px;
	margin-top: -240px;
}

.fifteendeg
{
	transform: rotate(22deg);
}

#boardhome article
{
	margin: auto;
	border-top:1px #800000 solid ;
	border-bottom:1px #800000 solid;
	text-align: left;
	overflow: hidden;
	padding: 8px;
}

#boardhome article header
{
	text-align: left;
}

#boardhome article header h1
{
	font-size: 1em; 
	font-family: Arial;
}

#boardhome article header img
{
	max-width:250px;
	max-height:250px;
	float: left;
	margin: 1%;
}

#boardhome .replies article
{
	display: inline-block;
	max-width:800px;
	border: solid 1px #DEC7B8;
	background-color: #f0e0d6;
	margin: 10px;
}
